body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
  
}

.quiz-app {
  margin-bottom: 20px;
}

.options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
p {
  font-size: 23px;
}

.options label {
  display: inline;
  color: black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 6px;
}

.options input:checked + label {
  background-color: rgb(240, 234, 234);
}

#submit  , #next , #previous , #start{
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  margin-top: 30px;
}

#submit:hover  , #next:hover , #previous:hover , #start:hover{
  background-color: #27ae60;
}

